body {
    background-color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 280px;
}

.sidebar-navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 20px 0 0 20px;
}

.sidebar-navigation .logo {
    display: flex;
}

.sidebar-navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    padding: 10px 0;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a .sidebar-navigation-option{
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial;
}