main {
	max-width: 80vw;
	margin-left: 316px;
	padding: 8px 8px 0 0;
}

main .container {
	border-radius: 8px;
	background-color: #121212;
	height: 84.7vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25rem;
	padding: 8px 16px;
}

header .navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
}

header .arrow-left, header .arrow-right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 100%;
	background: #131313;
	background-color: rgba(0, 0, 07);
	cursor: pointer;
}

header .authentication {
	display: flex;
	align-items: center;
}

header .search {
	display: flex;
	align-items: center;
	width: 345px;
	padding-left: 10px;
	border: 1px solid transparent;
	border-radius: 500px;
	background-color: #242422;
}

header .search img {
	width: 16px;
	height: 16px;
	padding: 5px;
}

header .search input {
	width: 100%;
	height: 48px;
	padding-right: 20px;
	background: transparent;
	border: none;
	color: #ffffff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: none;
	font-size: 14px;
	font-family: var(--font-subtitle);
}

header .authentication {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

header .authentication button {
	font-size: 16px;
	font-family: var(--font-title);
	border: none;
	cursor: pointer;
}

header .authentication .subscribe {
	width: 105px;
	height: 48px;
	background-color: transparent;
	color: #a7a7a7;
}

header .authentication .login {
	width: 100px;
	height: 48px;
	border-radius: 40px;
	color: #000000;
}

main .content {
	height: 68vh;
	padding: 0 20px;
	color: #ffffff;
}

.hidden {
	display: none;
}

main .content h2, main .content .cards span, main .content .card-text {
	font-family: var(--font-title);
}

main .content h2 {
	padding: 15px 0 20px;
	font-size: 24px;
}

main .content .all-sections__block {
	max-height: 70vh;
	overflow-y: auto;
}

main .content .all-sections__grid {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 12px;
	margin-bottom: 16px;
}

main .content .all-sections__grid .cards {
	position: relative;
	width: 220px;
	height: 220px;
	overflow: hidden;
	border-radius: 8px;
}

main .content .all-sections__grid .cards span {
	padding: 16px;
	position: absolute;
  	color: #fff;
  	font-size: 24px;
}

main .content .all-sections__grid img {
	position: absolute;
	right: 0;
	bottom: 0;
	height: auto;
	width: 107px;
	transform: rotate(25deg) translate(18%, -2%);
}

main .content .all-sections__grid .card1 {
	background-color: rgb(0, 100, 80);
}

main .content .all-sections__grid .card2 {
	background-color: rgb(132, 0, 231);
}

main .content .all-sections__grid .card3 {
	background: rgb(30, 50, 100);
}

main .content .all-sections__grid .card4 {
	background: rgb(140, 25, 50);
}

main .content .all-sections__grid .card5 {
	background: rgb(232, 17, 91);
}

main .content .all-sections__grid .card6 {
	background: rgb(83, 122, 161);
}

main .content .all-sections__grid .card7 {
	background: rgb(142, 102, 172);
}

main .content .all-sections__grid .card8 {
	background: rgb(20, 138, 8);
}

main .content .all-sections__grid .card9 {
	background: rgb(30, 50, 100);
}

main .content .all-sections__grid .card10 {
	background: rgb(233, 20, 41);
}

main .content .all-sections__grid .card11 {
	background: rgb(80, 55, 80);
}

main .content .all-sections__grid .card12 {
	background: rgb(216, 64, 0);
}

main .content .all-sections__grid .card13 {
	background: rgb(186, 93, 7);
}

main .content .all-sections__grid .card14 {
	background: rgb(0, 30, 80);
}

main .content .all-sections__grid .card15 {
	background: rgb(60, 30, 80);
}

.artist {
	--column-count: 5;
	--grid-gap: 24px;
	--min-container-width: 372px;
}

.search-result__grid {
	grid-gap: 24px;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	min-width: 767px;
}

.artist-card {
	background: #181818;
	border-radius: 8px;
	-ms-flex: 1;
	flex: 1;
	isolation: isolate;
	padding: 16px;
	position: relative;
	transition: background-color 0.3s ease;
	width: 100%;
}

.artist-card:hover {
	background-color: #252525;
}

.card-img {
	padding-bottom: 100%;
	position: relative;
	width: 100%;
	margin-bottom: 16px;
}

.artist-img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 50%;
}

.card-text {
	display: flex;
	flex-direction: column;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 62px;
}

.card-text a {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.artist-name {
	box-sizing: border-box;
	margin-block: 0px;
	font-size: 16px;
	font-weight: 700;
	padding-block-end: 8px;
}

.artist-categorie {
	color: #6a6a6a;
	font-weight: 400;
	font-size: 0.875rem;
}

.play {
	position: relative;
}

.play .fa-play {
	position: absolute;
	right: 10px;
	top: 120px;
	padding: 18px;
	color: #000000;
	background-color: #1db954;
	border-radius: 100%;
	font-size: 14px;
	opacity: 0;
	transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
	opacity: 1;
	transform: translateY(-20px);
}

.play .fa-play:hover {
	padding: 20px;
	cursor: pointer;
}

#result-artist {
	padding: 20px 40px;
}
