body {
	background-color: #000000;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	padding: 8px;
}

.sidebar__block {
	background-color: #121212;
	border-radius: 8px;
}

.sidebar nav {
	padding: 20px 25px 0;
	font-size: 16px;
	font-family: var(--font-title);
}

.sidebar nav .logo img {
	width: 80px;
}

.sidebar nav ul {
	padding: 10px 0;
}

.sidebar nav ul li {
	padding: 10px 0;
}

.sidebar nav ul li a {
	display: flex;
	align-items: center;
	gap: 20px;
	color: #b3b3b3;
	text-decoration: none;
	transition-duration: 0.3s;
}

.sidebar nav ul li a:hover {
	color: #ffffff;
	transition-duration: 0.3s;
}

.sidebar nav ul li a .fa {
	font-size: 24px;
}

.sidebar button {
	font-family: var(--font-title);
}

.sidebar .library {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 8px;
	padding: 8px 16px;
	color: #b3b3b3;
	font-size: 14px;
	font-family: var(--font-text);
}


.sidebar .library__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar .library__header button {
	display: flex;
	padding: 10px;
	gap: 15px;
	align-items: flex-end;
	border: 0;
	background-color: transparent;
	color: #b3b3b3;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition-duration: 0.3s;
}

.sidebar .library__header button:hover {
	color: #ffffff;
	transition-duration: 0.3s;
	cursor: pointer;
}

.sidebar .library__header button .fa {
	font-size: 24px;
}

.sidebar .library__header .fa-plus {
	display: flex;
	width: 18px;
	height: 18px;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 8px;
	transition-duration: 0.3s;
}

.sidebar .library__header .fa-plus:hover {
	background-color: #191919;
	color: #ffffff;
	border-radius: 100%;
	transition-duration: 0.3s;
	cursor: pointer;
}

.sidebar .section-playlist {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 8px 0;
	padding: 16px 20px;
	border-radius: 10px;
	background-color: #242424;
	color: #b3b3b3;
}

.sidebar .section-playlist__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sidebar .section-playlist__content .text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: #ffffff;
}

.sidebar .section-playlist__content .title {
	font-size: 16px;
	font-family: var(--font-title);
}

.sidebar .section-playlist__content button {
	display: flex;
	justify-content: center;
	width: 114px;
	padding: 8px;
	border: 0;
	border-radius: 20px;
	text-decoration: none;
	text-transform: none;
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	cursor: pointer;
}

.sidebar .library .cookies {
	margin: 30px 0;
}

.sidebar .library .cookies a {
	color: #b3b3b3;
	font-size: 12px;
	text-decoration: none;
}

.sidebar .library .cookies a:hover {
	text-decoration: underline;
}

.sidebar .library .language button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
	padding: 8px;
	gap: 5px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #878787;
	border-radius: 20px;
	font-size: 14px;
	font-family: var(--font-title);
}
.sidebar .library .language button:hover {
	width: 185px;
	font-size: 15px;
	border: 1px solid #ffffff;
	cursor: pointer;
}

.banner {
	display: flex;
	justify-content: space-between;
	min-width: 750px;
	padding: 11px 20px;
	margin: 8px;
	gap: 15px;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	align-items: center;
	color: #ffffff;
	background-image: linear-gradient(90deg,#af2896,#509bf5);
}

.banner .text {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	color: #ffffff;
	gap: 10px;
	font-size: 16px;
	font-family: var(--font-text);
}

.banner .title {
	font-size: 14px;
	font-family: var(--font-title);
}

.banner button {
	display: flex;
	min-width: 170px;
	width: 190px;
	height: 50px;
	padding: 15px;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 40px;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-family: var(--font-title);
	cursor: pointer;
}
